<section class="more-services section-bg">
    <div class="container-fluid">

        <section class="more-services section-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="header">
                            <h2 class="header_title">اطلاعیه کارآموزان</h2>
                            <div class="header_divider"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 card-deck mb-3" *ngFor="let i of newestNotification">
                                <div class="card mb-4">
                                  <div class="card-body d-flex flex-column">
                                    <img [src]="i['image']" alt="...">
                                    <h5 class="card-title"><a href="">{{i['title']}} </a></h5>
                                    <p class="card-text">{{i['brief']}} </p>
                                    <p class="card-date">{{i['date']}} </p>
                                    <button [routerLink]="['/notification-detail',i['_id']]" type="button"
                                      class="btn btn-block btn-primary mt-auto">ادامه مطلب</button>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="header">
                            <h2 class="header_title">مناسبت ها</h2>
                            <div class="header_divider"></div>
                        </div>
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide *ngFor="let i of newestOccasion">
                                <div class="box">
                                    <img [src]="i['image']" class="img-fluid">
                                    <a class="title">
                                        <h5>{{i['title']}}</h5>
                                    </a>
                                    <p class="brief">{{i['brief']}} </p>
                                    <p class="date">{{i['date']}} </p>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </section>